# Logs
logs
*.log

#Ignore our built files
build/*
architecture.json

# Ignore sensitive stuff
/config/*
!/config/default.json
!/config/reference.json

node_modules
storage
.idea
*.swp
