@import "shared/naturalcrit/styles/core.less";

main {
	position: relative;
	height: 100%;
}

.badges {
	--bg-clr: white;
	--p-clr: black;

	position: relative;
	height: 100%;
	background: var(--bg-clr, white);
	color: var(--p-clr, black);

	.mainContent {
		height: 100%;
		width: 800px;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&.theme-dark {
		--bg-clr: #333;
		--p-clr: #eee;
	}

	h1 {
		margin: 0;
		margin-bottom: 10px;
		padding-top: 30px;
		font-family: 'Calluna';
		font-size: 2.5em;
		font-weight: 800;
		text-align: center;
	}

	p {
		color: inherit;
	}

	& > p {
		margin-bottom: 20px;
		font-size: 0.8em;
		text-align: center;
	}

	.content {
		display: flex;
		padding-top: 50px;
		justify-content: space-around;
		gap: 50px;
		padding-inline: 25px;
	}

	.credit {
		width: fit-content;
		margin-inline: auto;
		display: block;
		margin-top: 50px;
		font-family: 'Calluna';
		font-size: 0.8em;
		text-align: center;
		line-height: 1.2em;
		color: var(--p-clr);
		opacity: 80%;
	}

	button {
		border: none;
		font-family: 'CodeBold';
		letter-spacing: 1px;
		padding: 12px 20px;
		margin: 10px;
		background-color: var(--p-clr);
		color: var(--bg-clr);
		text-transform: uppercase;
		text-align: center;

		&:hover {
			background-color: var(--p-clr);
			color: var(--bg-clr);
			filter: contrast(0.7);
		}

		&:enabled {
			cursor: pointer;
		}

		&:disabled {
			background-color: #444;
			cursor: not-allowed;
		}

		&:is(.red, .green, .orange):disabled {
			filter: saturate(40%);
		}

		&.red {
			background-color: @red;
		}

		&.green {
			background-color: @green;
		}

		&.orange {
			background-color: @orange;
		}
	}

	.logo {
		position: fixed;
		top: 10px;
		left: 10px;
		font-size: 2em;
		color: var(--p-clr);
		text-decoration: none;

		svg {
			height: 0.9em;
			margin-right: 0.2em;
			cursor: pointer;
			fill: currentColor;
		}

		.name {
			font-family: 'CodeLight';

			.crit {
				font-family: 'CodeBold';
			}
		}
	}

	.theme {
		position: fixed;
		top: 0;
		right: 0;
	}
}